<h2> Rendering collection</h2>
<ul>
  <li *ngFor="let name of names">Hello {{ name }}</li>
</ul>

<h2>Rendering List or Child Class (UserItemComponent)</h2>
<ul>
  <li *ngFor="let userName of names">
    <app-user-item [name]="userName"></app-user-item>
  </li>
</ul>
